<% include header %>

<% console.log(announcement) %>
  <% if (typeof announcement !== 'undefined') { %>
    <div class="card">
      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <h1 class="mb-1" style="font-size:20px"><%= announcement._object.name %></h1>
          <small class="text-muted">Posté le <%= moment(announcement.created_at).format("DD/MM/YYYY")  %> à <%= moment(announcement.created_at).format("HH/MM")  %> <% if(announcement.owner.login != session.login){ %> par <%= announcement.owner.login %> <% } %></small>
        </div>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
        <p class="card-text"><%= announcement._object.description %></p>
        <h6 class="card-subtitle mb-2 text-muted">Etat</h6>
        <p class="card-text"><%= announcement._object.condition %></p>
      </div>
      <div class="card-footer" style="background-color: rgba(255,255,255)">
        <div class="d-flex w-100   justify-content-between">
          <p class="text-muted">Disponible du <%= moment(announcement.datestart).format("DD/MM/YYYY") %> au <%= moment(announcement.dateend).format("DD/MM/YYYY") %></p>
          <% if(announcement.owner.login != session.login && announcement.status == "disponible"){ %>
            <button class="btn btn-outline-light" style="border-color: rgba(0,0,0,.125); color: #6c757d">Envoyer une demande de prêt</button>
          <% } %>
        </div>
      </div>
    </div>


      <div style="margin-top:50px">
      <div class="d-flex w-100 justify-content-between">
        <h1 class="display-1" style="font-size:1.3em; margin-bottom: 20px">Commentaires associés à l'objet</h1>
        <% if(announcement.login != session.login){ %>
          <a data-toggle="modal" data-target="#Modal"><i class="far fa-plus-square"></i></a>
        <% } %>
      </div>
        <% if (typeof listOfObjectComments !== 'undefined') { %>
          <% listOfObjectComments.forEach(function(comment){ %>
            <div class="list-group-item  flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= comment.login %></h5>
                <small class="text-muted">Posté le <%= comment.publication_date.toString().replace(/,/g, "/") %></small>
              </div>
              <p class="mb-1"><%= comment.content %></p>
              <small class="text-muted">Note <%= comment.rating %>/10</small>
            </div>
          <% }) %>
        <% } %>
      </div>

      <div style="margin-top:50px">
        <div class="d-flex w-100 justify-content-between">
          <h1 class="display-1" style="font-size:1.3em; margin-bottom: 20px">Commentaires associés à <%= announcement.owner.login %></h1>
          <% if(announcement.login != session.login){ %>
            <a data-toggle="modal" data-target="#Modal"><i class="far fa-plus-square"></i></a>
          <% } %>
        </div>
        <% if (typeof listOfUserComments !== 'undefined') { %>
          <% listOfUserComments.forEach(function(comment){ %>
            <div class="list-group-item  flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= comment.login %></h5>
                <small class="text-muted">Posté le <%= comment.publication_date.toString().replace(/,/g, "/") %></small>
              </div>
              <p class="mb-1"><%= comment.content %></p>
              <small class="text-muted">Note <%= comment.rating %>/10</small>
            </div>
          <% }) %>
        <% } %>
      </div>


  <% } else { %>
      <div class="alert alert-info" role="alert">
        <h1 class="display-4" style="font-size:20px"><i class="fas fa-info-circle"></i> Oups !</h1>
        Aucun objet ne correspond à l'identifiant sélectionné.
      </div>
  <% } %>

  <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Evaluation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button class="btn btn-outline-light" style="border-color: rgba(0,0,0,.125); color: #6c757d">Valider l'évalution</button>
      </div>
    </div>
  </div>
</div>

<% include footer %>
