<% include header %>

  <% if (typeof announcement !== 'undefined') { %>

    <div class="card">
      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <h1 class="mb-1" style="font-size:20px"><%= announcement._object.name %></h1>
          <small class="text-muted">Posté le <%= moment(announcement.created_at).format("DD/MM/YYYY")  %> à <%= moment(announcement.created_at).format("HH:MM")  %> <% if(announcement.owner.login != session.login){ %> par <%= announcement.owner.login %> <% } %></small>
        </div>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
        <p class="card-text"><%= announcement._object.description %></p>
      </div>
      <div class="card-footer" style="background-color: rgba(255,255,255)">
        <div class="d-flex w-100   justify-content-between">
          <p class="text-muted">Disponible du <%= moment(announcement.datestart).format("DD/MM/YYYY") %> au <%= moment(announcement.dateend).format("DD/MM/YYYY") %></p>
          <% if(announcement.owner.login != session.login && announcement.status == "disponible" && canRequest){ %>
          <form class="" action="/announcement/request/validation/<%= announcement._id %>" method="POST" novalidate>
            <button type="submit" class="btn btn-outline-light" style="border-color: rgba(0,0,0,.125); color: #6c757d">Envoyer une demande de prêt</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
      <% if(announcement.owner.login === session.login){%>
        <% if(canComment == true) { %>
          <button data-toggle="modal"  data-target="#Modal" class="btn btn-outline-light" style="border-color: rgba(0,0,0,.125); color: #6c757d; margin-top:20px">Emettre une évaluation</button>
        <% } %>

        <div style="margin-top:50px">
        <% if(typeof announcement.requests !== 'undefined'){
            var canRefuseOrAccept = true
            announcement.requests.forEach(function(request){
              if(typeof request.accepted !== 'undefined' && request.accepted == 'oui' && typeof request.comment !== 'undefined'){ canRefuseOrAccept=false %>
          <div class="d-flex w-100 justify-content-between">
            <h1 class="display-1" style="font-size:1.3em; margin-bottom: 20px">Commentaires</h1>
          </div>
              <div class="list-group-item  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= request.borrower.login %></h5>
                  <small class="text-muted">Posté le <%= request.date_comment %></small>
                </div>
                <p class="mb-1"><%= request.comment %></p>
                <p class="mb-1">Etat de l'objet : <%= request.condition %></p>
                <small class="text-muted">Note <%= request.rating %>/10</small>
              </div>
        <%  }
          })
        }
        %>
        </div>

      <div style="margin-top:50px">
        <% if(typeof announcement.requests !== 'undefined'){ %>
        <div class="d-flex w-100 justify-content-between">
                  <h1 class="display-1" style="font-size:1.3em; margin-bottom: 20px">Demandes de prêt</h1>
          </div>
          <%announcement.requests.forEach(function(request){ %>

          <div class="list-group-item  flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= request.borrower.login %></h5>
              <small class="text-muted">Demandé le <%= request['sending-date'] %></small>
            </div>
            <% if(canRefuseOrAccept && request.accepted === undefined){%>
            <a href="/announcement/<%= announcement._id%>/<%= request.borrower.login%>/accept" class="btn btn-success" role="button">Accepter</a>
            <a href="/announcement/<%= announcement._id%>/<%= request.borrower.login%>/reject" class="btn btn-danger" role="button">Refuser</a>
            <%}else if(request.accepted === "non"){%>
              <small>Rejetée</small>
            <%}else if(request.accepted === "oui"){%>
            <small>Validée</small>
            <%}%>
          </div>

          <%})%>
        <%}%>
      </div>
    <% }%>
  <% } else { %>
      <div class="alert alert-info" role="alert">
        <h1 class="display-4" style="font-size:20px"><i class="fas fa-info-circle"></i> Oups !</h1>
        Aucun objet ne correspond à l'identifiant sélectionné.
      </div>
  <% } %>

  <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Evaluation</h5>
      </div>
      <form class="needs-validation" action="" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="comment">Commentaire</label>
                <input type="text" class="form-control" id="comment" required>
              </div>
              <div class="form-group col-md-2">
                <label for="rating">Note</label>
                <select id="rating" class="form-control" required>
                  <% for (i = 1; i <= 10; i++) { %>
                  <option <% if(i == 5){%>selected<% } %>><%= i %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="condition">Etat de l'objet</label>
                <input type="text" class="form-control" id="condition" required>
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button class="btn btn-outline-light" type="submit" style="border-color: rgba(0,0,0,.125); color: #6c757d">Valider l'évalution</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation')
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  })()
</script>

<% include footer %>
